{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-use-before-define": ["error", { "functions": false }]
  },
  "globals": {
    "$": false,
    "document": false,
    "window": false,
    "axios": false,
    "qq": false
  }
}
